@font-face {
  font-family: "Oswald";
  font-weight: 400;
  src: url("../fonts/Oswald/Oswald-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald";
  font-weight: 500;
  src: url("../fonts/Oswald/Oswald-Medium.ttf") format("truetype");
}