//bacgrounds

//fonts
$basic-family: 'Oswald', 'Arial', 'Helvetica', sans-serif;
$text-family: 	'Arial', 'Helvetica', sans-serif;

//sizes
$md: 768px;
$lg: 1440px;


// colors 
:root {
	--color-black-main: #000000;
	--color-white-main: #FFFFFF;
	--color-white-opacity: rgba(255, 255, 255, 0.3);
	--color-bg-green: #68B738;
	--color-bg-green-hover: #5EAA2F;
	--color-bg-grey-basic: #E6E6E6;
	--color-bg-grey-second: #F2F2F2;
	--color-bg-grey-third: #D9D9D9;
	--color-dark-grey: #444444;
	--color-dark-grey-opacity: rgba(68, 68, 68, 0.3);
	--color-bg-light-grey: #EAEAEA;
	--color-bg-hover-grey: #EBEBEB;
	--color-border-grey: #CDCDCD;
	--color-border-grey-dotted: #B2B2B2;
}