.example {
  padding-top: 30px;
  padding-bottom: 40px;
  position: relative;

  @include media($md) {
    padding-top: 45px;
    padding-bottom: 55px;
  }

  @include media($lg) {
    padding-top: 0;
    padding-bottom: 65px;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    background: var(--color-bg-light-grey);
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

    @include media ($md) {
      height: 45%;
      top: auto;
    }

    @include media ($lg) {
      height: 70%;
    }
  }

  &__wrap {
    @include media($lg) {
      display: flex;
      justify-content: space-between;
      align-items: end;
    }
  }

  &__item {
    @include media($lg) {
      padding-top: 43px;
    }
  }

  &__title {
    @include media ($md) {
      margin-bottom: 63px;
    }

    @include media ($lg) {
      margin-bottom: 145px;
    }
  }

  &__desc {
    font-family: $text-family;
    text-align: left;
    color: var(--color-dark-grey);
    margin-bottom: 20px;
    line-height: 18px;

    @include media($md) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 54px;
    }

    @include media($lg) {
      max-width: 436px;
      margin-bottom: 69px;
    }
  }

  &__body {
    display: flex;
  }

  &__result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;

    @include media($md) {
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 72px;
    }

    @include media($lg) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0;
    }

    &-item {
      position: relative;
      width: 124px;
      height: 70px;
      border: 1px solid var(--color-border-grey);
      border-radius: 3px;
      padding-top: 20px;

      &+& {
        margin-left: 32px;

        @include media($lg) {
          margin-left: 42px;
        }
      }

      @include media($md) {
        width: 162px;
        height: 77px;
        padding-top: 0;
      }
    }

    &-title {
      margin-bottom: 0;
      font-size: 24px;
      line-height: 24px;
      text-align: center;

      @include media($md) {
        font-size: 30px;
        line-height: 37px;
        padding-top: 15px;
        padding-bottom: 16px;
      }
    }

    &-text {
      position: absolute;
      font-size: 12px;
      line-height: 12px;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      width: 88px;
      color: var(--color-dark-grey);
      background-color: var(--color-bg-light-grey);
      bottom: -17px;
      left: 0;
      right: 0;
      margin: 0 auto;

      @include media($md) {
        width: fit-content;
        bottom: auto;
        background-color: var(--color-white-main);
      }

      @include media($lg) {
        background-color: var(--color-bg-light-grey);
      }
    }

    &-descs {
      display: flex;
      margin-top: 30px;
      justify-content: center;
      width: 100%;

      @include media($md) {
        flex-direction: column;
        width: auto;
        text-align-last: right;
        margin-top: 0;
        padding-left: 15px;
      }

      @include media($lg) {
        margin-top: 69px;
        flex-direction: row;
      }
    }

    &-desc {
      line-height: 20px;
      color: var(--color-black-main);
      text-transform: uppercase;
      margin-bottom: 0;
      padding-right: 4px;

      &:last-child {
        padding-right: 0;
      }

      @include media($md) {
        padding-right: 0;

        &+& {
          margin-top: 9px;

          @include media($lg) {
            margin-top: 0;
            margin-left: 63px;
          }
        }
      }
    }
  }
}

.slider {
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__body {
    position: relative;
    display: inline-grid;
  }

  &__item {
    grid-column: 1/-1;
    grid-row: 1/-1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    clip-path: inset(0 0 0 var(--slider-value-after, 100%));
    overflow: hidden;

    @include media($md) {
      clip-path: inset(0 0 0 var(--slider-value, 50%));
    }

    //худой кот
    &:first-of-type {
      clip-path: inset(0 var(--slider-value-before, 0) 0 0);

      @include media($md) {
        clip-path: inset(0 calc(50% - var(--slider-value-before, 0)) 0 0);
      }
    }
  }

  &__img {
    min-height: 232px;
    object-fit: contain;

    @include media($md) {
      min-height: 511px;
      width: 100%;
    }
  }

  &__range {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }

  &__line {
    position: relative;
    margin-left: 13px;
    margin-right: 13px;
    width: 85px;
    height: 14px;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 6px;
    border: 1px solid var(--color-border-grey);
    background: var(--color-white-main);

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
    }

    &::-moz-range-thumb {
      position: relative;
      opacity: 0;
    }

    &::-moz-range-track {
      -webkit-appearance: none;
    }

    &:focus {
      outline: none;
    }

    @include media($md) {
      width: 426px;
      height: 14px;
      background-color: var(--color-border-grey);
      border: 0;
      position: relative;

      &::-webkit-slider-thumb {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        border: 1px solid var(--color-border-grey);
        background: var(--color-white-main);
        background: url("../img/icons/slider-control.svg") no-repeat center center;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
        cursor: grab;
      }

      &:hover::-webkit-slider-thumb {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
      }

      &:focus::-webkit-slider-thumb {
        border: 1px solid var(--color-bg-green);
      }

      &::-moz-range-thumb {
        opacity: 1;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        border: 1px solid var(--color-border-grey);
        background: var(--color-white-main);
        background: url("../img/icons/slider-control.svg") no-repeat center center;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
        cursor: grab;
      }

      &:hover::-moz-range-thumb {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
      }

      &:focus::-moz-range-thumb {
        border: 1px solid var(--color-bg-green);
      }

    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 35px;
      height: 6px;
      background: var(--color-bg-green);
      border-radius: 6px;
      left: 6px;
      top: 0;
      bottom: 0;
      margin: auto 0;

      @include media($md) {
        display: none;
      }
    }

    &._hover::after {
      right: 6px;
      left: auto;
    }
  }

  &__btn {
    display: inline-block;
    font-family: $basic-family;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    padding: 8px;
    line-height: 20px;
    color: var(--color-black-main);
    background: transparent;
    border: 0;
    cursor: pointer;

    @include media($md) {
      font-size: 20px;
      line-height: 30px;
      padding: 0;
      padding-bottom: 3px;
      position: relative;
      border-bottom: 1px dotted var(--color-border-grey-dotted);
      transition: border-bottom .2s ease-in;

      &:hover {
        border-bottom: 1px solid var(--color-black-main);
      }

      &:focus {
        border-bottom: 1px solid transparent;
      }
    }
  }
}